.friend {
  display: flex;
}

.friend h3, a {
  color: #cfd0d1;
}

.friend p {
  color: #FDBA2B;
}


.friend + .friend {
  margin-top: 10px;
}

.friend img {
  width: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.friend_text_wrapper {
  max-height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}