.button {
    padding: 5px 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button:hover {
  background-color: #FCBF30;
}

.ant-btn {
  color: '#151920';
  padding: 0px 10px 0px;
  border-radius: 5px;
}

