.content {
  max-width: 100%;
  grid-column: 3/4;
  grid-row: 2/3;
}

p {
  color: white;
}

.profile_wrapper {
  background-color: #242426;
  border: 1px solid rgba(49, 49, 49, 0.49);
  height: 185px;
  display: flex;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 3;

}

.profile_wrapper::before {
  content: '';
  width: 100%;
  position: absolute;
  height: 64px;
  left: 0;
  top: 0;
  background-image:linear-gradient(244deg, #FB9119 13.76%, #FCBF30 85.91%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 0;
}

.content_wrapper {
  display: flex;
  position: relative;
  bottom: 26px;
  margin-left: 15px;
/*   align-items: end; */
}

.statusWrapper {
  color: #242426;
  margin-bottom: 5px;
}

.profilePhotoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  top: 20px;
}

.photoCover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  z-index: 9;
}


.photo {
  position: relative;
  z-index: 5;
/*   background-image: url(../../assets/cat-profile2.jpg); */

  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 115%;
  margin-right: 25px;
}

.profilePhotoWrapper:hover .photoCover{
  background-color: red;
}

.profilePhotoWrapper:hover img {
  visibility: visible;
}

.photoBackground {
  background-image: url(../../assets/cat-profile2.jpg);
}

.info_wrapper {
  position: relative;
  z-index: 5;
}

.info_wrapper h2 {
  margin-bottom: 5px;
  font-size: 2.5rem;
}

.info_wrapper > p {
  font-size: 1.5rem;
}

.info_wrapper p+p {
  margin-top: 5px;
}

input[type='file'] {
  color: transparent;
}

.photoInput{
  visibility: hidden;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-28%, -65%);
  -webkit-transform: translate(-28%, -65%);
  -moz-transform: translate(-28%, -65%);
  -ms-transform: translate(-28%, -65%);
  -o-transform: translate(-28%, -65%);
}

.profilePhotoWrapper:hover input {
  visibility: visible;
}

.profileForm {
  position: absolute;
  top: 50px;
}

