@font-face {
    font-family: 'Lato Hairline';
    src: url('Lato-Hairline.eot');
    src: url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Lato-Hairline.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

