*,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  font-size: 10px;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 200px) minmax(auto, 740px) 1fr;
  grid-template-rows: 45px 1fr;
  grid-gap: 20px;
  border: 1px solid red;
}

/* header */

.header {
  background-color: rgb(69, 182, 144);
  grid-column: 1/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 200px) minmax(auto, 740px) 1fr;
  align-content: center;
}

.logo_wrapper {
  grid-column: 2/3;
  display: flex;
  max-height: 30px;
  align-items: center;
}

.logo_wrapper img {
  max-height: 30px;
  margin-right: 10px;
}

.icon_list {
  justify-content: right;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.icon_list li+li {
  margin-left: 10px;
}

li img {
  display: block;
  margin: 0 auto;
  max-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  -ms-border-radius: 50;
  -o-border-radius: 50;
}

.navigation {
  border: 1px solid rgb(109, 181, 109);
  grid-column: 2/3;
  grid-row: 2/3;
}

.content {
  border: 1px solid rgb(169, 109, 181);
  max-width: 100%;
  grid-column: 3/4;
  grid-row: 2/3;
}

.profile-photo {
  max-height: 200px;
}

.image-wrapper {
  max-height: 150px;
  overflow: hidden;
  max-width: 100%;
}

.profile {
  display: flex;
}
.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.2) ;
  -webkit-transform: scale(1.2) ;
  -moz-transform: scale(1.2) ;
  -ms-transform: scale(1.2) ;
  -o-transform: scale(1.2) ;
}

textarea {
  width: 100%;
}

.post {
  display: flex;
}

.post-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(232, 188, 67);
}