*,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  font-size: 10px;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./assets/fonts/Lato-Black.eot) format('eot'), url(./assets/fonts/Lato-Black.woff2) format('woff2'), url(./assets/fonts/Lato-Black.ttf) format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./assets/fonts/Lato-Bold.woff2) format('eot'), url(./assets/fonts/Lato-Bold.woff2) format('woff2'), url(./assets/fonts/Lato-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./assets/fonts/Lato-Regular.eot) format('eot'), url(./assets/fonts/Lato-Regular.woff2) format('woff2'), url(./assets/fonts/Lato-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./assets/fonts/Lato-Light.eot) format('eot'), url(./assets/fonts/Lato-Light.woff2) format('woff2'), url(./assets/fonts/Lato-Light.ttf) format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./assets/fonts/Lato-Hairline.eot) format('eot'), url(./assets/fonts/Lato-Hairline.woff2) format('woff2'), url(./assets/fonts/Lato-Thin.ttf) format('ttf');
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #151920;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 200px) minmax(auto, 740px) 1fr;
  grid-template-rows: 45px 1fr;
  grid-gap: 10px;
  background-image: radial-gradient(107.97% 63.12% at 49.45% 50.88%, #1F4C47 0%, #121419 100%);
  min-height: 100vh;
  padding-bottom: 20px;
}

p {
  color: white;
}

h2 {
  font-weight: 900;
  font-size: 2rem;
  color: white;
}

h3 {
  color: white;
}
